#title {
color:#0B3C9D;
font-family: "Comic Sans MS", cursive, sans-serif;
text-align: center;
font-size: 38px;
letter-spacing: 1px;
word-spacing: 1px;
font-weight: 700;
text-decoration: none;
font-style: italic;
font-variant: normal;
text-transform: capitalize;
margin-top: 100px;
}

#table {
  
}
